@media (max-width: 900px) {

  .secao {
    padding: 4rem 2rem;
  }

  .topbar {
    padding: 1rem 1.5rem;
  }

  nav {
    display: none;
  }

  .lang-toggle {
    display: none;
  }

  .topbar__menu-bar,
  .topbar__theme-lang {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .topbar__menu-bar img {
    width: 2rem;
  }

  .hero {
    padding: 8rem 1.5rem 3rem;
  }

  .hero__scroll span {
    display: none;
  }

  .xcarb__card {
    grid-template-columns: 1fr;
  }

  #form-contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form__grupo {
    display: flex;
    flex-direction: column;
  }

  .footer__topo {
    flex-direction: column;
  }
}

@media (max-width: 1100px) {
  .impacto__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .arcelormittal__container {
    flex-direction: column;
    text-align: center;
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .impacto__grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  .xcarb__stats {
    grid-template-columns: 1fr;
  }
}