@media (max-width: 900px) {
  .topbar {
    padding: 1rem 1.5rem;
  }

  nav {
    display: none;
  }

  .lang-toggle {
    display: none;
  }

  .topbar__menu-bar {
    display: block;
  }


  .hero {
    padding: 8rem 1.5rem 3rem;
  }

  .hero__wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
  }

  .hero__dado {
    text-align: left;
    border-right: none;
    border-left: 2px solid var(--verde-claro);
    padding-right: 0;
    padding-left: 1rem;
  }


  .hero__scroll span {
    display: none;
  }

  .arcelormittal__container {
    flex-direction: column;
    text-align: center;
    padding: 2rem;
  }

  .arcelormittal__imagem img {
    max-width: 100%;
  }
}